@media screen and (max-width: 479px) {
.a{
    height: 100px;
    width: 150px;
    background-color:#FFCE7a
}
.b{
    height: 450px;
    width: 150px;
    flex-direction: column;
}
.c{
    height: 100px;
    width: 150px;
    background-color:#bea5ff;

}

.b-1{
    height: 100px;
    width: 150px;
    background-color:#9dddf4;
}

.b-2{
    height: 250px;
    width: 150px;
}

.b-3{
    height: 250px;
    width: 150px;  
    flex-direction: column;
}

.b-3-1{
    height: 150px;
    width: 150px;
}

.b-3-2{
    height: 100px;
    width: 150px;
    background-color: #FFC2CC;
    display: flex;
}
.b-4{
    height: 100px;
    width: 150px;
    background-color:#FFF883;

}
.b-5{
    background-color: #F89C9C;
    height: 100px;
    width: 150px; 
   


}

 .b-6{
    height: 50px;
    width: 150px;
    background-color: #C2FFC8;


}
}